.row_card_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid lightslategray;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    width: 86%;
}

.row_card_container:hover {
  cursor: pointer;
  background-color: rgb(210, 208, 208);
}

.row_avatar {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 20px;
}

.row_info {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.row_risk {
    margin-right: 80px;
}

.row_role {
    background-color: #868686;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
}

.dialog_header {
    font-size: 23px;
    margin: 0;
}

.chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #868686;
    color: white;
    font-size: 10px;
    font-weight: 600;
    padding: 5px;
    border-radius: 15px;
}

.chip_container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 120px; 
    overflow-y: auto;
    margin-top: 5px;
    margin-bottom: 20px;
}


#chip_remove_icon:hover {
    cursor: pointer;
}

.dialog {
  max-width: 40vw;
  max-height: 100vh;
}

.send_message_button {
    margin-top: 10px;
}
