.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
}

.header {
    width: 100%;
}

.sidebar_toggle_icon {
  margin-left: 5px;
  margin-right: 15px;
}

.sidebar_toggle_icon:hover {
    cursor: pointer;
}

.sidebar_icon_text {
  display: flex;
  flex-direction: row;
  align-items: center;
}